[submodule "AMIE"]
	path = AMIE
	url = https://github.com/NeatMonster/AMIE.git
[submodule "diaphora"]
	path = diaphora
	url = https://github.com/joxeankoret/diaphora.git
[submodule "keypatch"]
	path = keypatch
	url = https://github.com/keystone-engine/keypatch.git
[submodule "IDAPyHelper"]
	path = IDAPyHelper
	url = https://github.com/patois/IDAPyHelper.git
[submodule "dsync"]
	path = dsync
	url = https://github.com/patois/dsync.git
[submodule "xray"]
	path = xray
	url = https://github.com/patois/xray.git
[submodule "ida_ifl"]
	path = ida_ifl
	url = https://github.com/hasherezade/ida_ifl.git
